@import "header.scss";
@import "hero.scss";
@import "directions.scss";
@import "care.scss";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  width: 100%;
  margin-inline: auto;
  padding-inline: 20px;
}
button,
a {
  cursor: pointer;
}
