@import "header.scss";
@import "hero.scss";
@import "directions.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  width: 1200px;
  margin-inline: auto;
}
button,
a {
  cursor: pointer;
}
